.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border: 1px black solid;
}

ul {
    list-style-type: none;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.luetteloList>* {}

figure img {
    max-width: 100%;
}

figure {
    width: 100px;
    margin: 1rem 1rem 1rem 1rem;
}

section {
    margin: 1rem 0;
}

nav {
    position: fixed;
    left: 3rem;
    top: 3rem;
}

nav>* {
    padding: 0;
    margin: 0;
}